@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.main-links {
    display: flex;
}

ul li {
    list-style: none;
    /* padding: 10px 10px; */
}

ul li a.logo {
    font-size: 20px;
    font-weight: 800;
}
.red-circle {
    background-color: rgb(243, 114, 114);
    border-radius: 50%;
    padding: 4px 10px;
    margin-left: 1px;
    font-size: 10px;
    color: white;
}

ul li a.links {
    text-decoration: none;
    color: black;
    padding: 20px;
}

ul li a.active {
    background-color: rgb(245, 245, 245);
    padding: 10px;
    border-radius: 5px;
}

ul li a.signup-active {
    background-color: rgb(223, 249, 253);
    padding: 10px;
    border-radius: 5px;
}

.header-content {
    background-color: rgb(245, 245, 245);
    height: 87vh;
    margin: 10px;
    border-radius: 10px;
}

.header-content .header-text {
    margin-left: 8%;
    position: absolute;
    top: 50%;
    width: 30vw;
    transform: translate(0%, -50%);
    
}

.top-heading {
    font-size: 40px;
    font-weight: 800;

}

.top-text {
    color: rgb(112, 112, 112);
    padding: 10px 0px;
}

.p-5 {
    padding: 20px 0;
}

.form-field {
    outline: none;
    border: none;
    height: 40px;
    padding: 0px 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #e7e7e7;
}

.btn {
    border: none;
    /* width: 40px; */
    padding: 12px 20px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.btn-primary {
    background-color: rgb(99, 99, 246);
}
